.footer-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footer-left-side,
.footer-right-side {
  display: flex;
  align-items: center;
}

.footer-left-side {
  gap: 15px;
}

.footer-left-side > div {
  text-align: center;
}

.footer-left-side p {
  margin: 5px;
}

.footer-right-side {
  gap: 30px;
}

@media (max-width: 37.5rem) {
  .footer-right-side {
    display: none;
  }

  .footer-flex {
    justify-content: center;
  }
}
